.collectionDisplay {
	background-color: #d6dce0;

	overflow-y: auto;
	clip-path: inset(0 round 4px);
}

.collectionDisplay > div {
	background-color: #fcfcfc;
	padding: 0.3em;
	
	cursor: default;
	transition: background-color 150ms;
}

.collectionDisplay > div:hover {
	background-color: #eeeeee;
}

.collectionDisplay > div:first-child {
	padding-top: .42em;
}

.collectionDisplay > div:last-child {
	padding-bottom: .42em;
}

.collectionDisplay > div:not( div:last-child ) {
	border-bottom: var(--border-subtle)
}

.itemContent {
	padding-inline: 0.5em;
}

.noContent {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 2em;
}

.noContent p {
	margin-top: 2em;
	opacity: 0.6;
}