.header {
	background-color: #111a20;
	color: var(--text-on-dark);

	padding: 0.3rem;
	display: flex;
	gap: 1em;

	border-bottom: solid 4px hsl(from var(--theme-color-primary) h s l / 1);
}

.header > div {
	flex-grow: 1;
}

.header .title {
	color: var(--theme-color-primary);
	font-weight: 700;
	font-size: 2.4rem;
}

.header button {
	background-color: transparent;
	color: var(--text-on-dark);

	font-size: 1.5rem;
	border: 1px solid var(--text-on-dark);
}

.header button:hover {
	background-color: #ffffff15;
}