:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

	--text-on-dark: #efefef;
	--text-on-light: #020202;

	--bg-color-primary: #1e2329;
	--bg-color-secondary: #131518;
	--fg-color-primary: black;

	--tertiary-background-color: #e3e8eb;

	--theme-color-primary: #82cfff;
	--theme-color-secondary: #12344a;

	--border-subtle: 1px solid #00000040;

}

body {
	height: 100dvh;
	margin: 0;
	background-color: var(--bg-color-primary);
}

#root {
  min-width: 320px;
  margin: 0 auto;
}

p {
	margin: 0;
}

.hidden {
	display: none;
}